.App {
    width: 100vw;
    height: 100vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.App > .divide-space {
    width: 100%;
    margin: 10px 0;
}

.App > .navigate {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.App > .navigate > .btn >  .arrow-icon {
    width: 30px;
}

.App > .navigate > .distance-space {
    margin: 0 50px;
}

.disable-btn {
    filter: invert(1);
}
